@font-face {
    font-family: "Bellota-LightItalic";
    src: url('../fonts/bellota/Bellota-LightItalic.otf')
}

@font-face {
    font-family: "Bellota-BoldItalic";
    src: url('../fonts/bellota/Bellota-BoldItalic.otf')
}

body {
    line-height: 17px;
    background-color: #E6EAE8;
}

a {
    color: #20aae5;
    text-decoration: none;
}

.top-bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #20aae5;
    border-bottom: 5px solid #2980b9;
    margin: 0px 0px 10px 0px;
    display: inline-flex;
    position:  fixed;
    z-index: 100;
}

.logo a {
    font-family: "Bellota-BoldItalic", sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 9px;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    color: #1086BA;
}

a:hover {
    text-decoration: none;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 7px solid #e67e22;
    color: white;
}

.wrapper {
    margin: 0px auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: white;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}

.user-details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user-details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.user-details-left-right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.main-column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
    margin-bottom: 5px;
}

.post-form {
    width: 100%;
}

.post-form textarea {
    width: 81%;
    height: 60px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.post-form input[type='submit'] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 3px;
    font-family: "Bellota-BoldItalic", sans-serif;
    background-color: #3498db;
    color: white;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post-form input[type='submit']:active {
    padding: 5px 4px 4px 5px;
    color: #1e75ca;
}

.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
}

.post_profile_pic {
    float: left;
    margin-right: 7px;
}

.post_profile_pic img {
    border-radius: 5px;
}

.comment_frame {
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.comment_section {
    padding: 0px 5px 5px 5px;
}

.comment_section img {
    padding: 0px 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea {
    border-color: #d3d3d3;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type='submit'] {
    border: none;
    background-color: #20aae5;
    color: white;
    border-radius: 5px;
    width: 13%;
    height: 35px;
    margin-top: 3px;
    font-family: "Bellota-BoldItalic", sans-serif;
    position: absolute;
}

.newsfeedPostOptions {
    padding: 0;
    text-decoration: none;
    color: #20aae5;
    border: none;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 17px;
    width: 120px;
}

.comment_like {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #3498db;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
    /* background-color: #fff;
    border: none;
    font-size: 14px;
    color: #3498db;
    padding: 0; */
}

.like_value {
    display: inline;
    font-size: 14px;
}

.profile_left {
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    position: relative;
    background-color: #37B0E9;
    border-right: 10px solid #83d6fe;
    color: #cbeaf8;
    margin-right: 20px;
}

.profile_left img {
    min-width: 80px;
    width: 55%;
    margin: 20px;
    border: 5px solid #83d6fe;
    border-radius: 100px;
}

.profile_info {
    display: list-item;
    background-color: #2980b9;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.profile_info p {
    margin: 0 0 0 20px;
    word-wrap: break-word;
}

.danger {
    background-color: #e74c3c;
}

.warning {
    background-color: #f0ad4e;
}

.default {
    background-color: #bdc3c7;
}

.success {
    background-color: #2ecc71;
}

.info {
    background-color: #3498db;
}

.deep-blue {
    background-color: #0043f0;
}

.profile_left input[type='submit'] {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 7px 0px 0px 7px;
    border: none;
    color: white;
}

#accept_button, #ignore_button {
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: white;
}

.delete_button {
    height: 22px;
    width: 22px;
    padding: 0;
    float:right;
    border-radius: 4px;
    right: -15px;
    position: relative;
}

.profile-main-column {
    min-width: 675px;
    float: left;
    width: 70%;
    z-index: -1;
}

.profile_info_bottom {
    margin: 10px 0 0 7px;
}

#message_textarea {
    width: 80%;
    margin-right: 8px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
}

#message_submit {
    height: 41px;
    width: 120px;
    margin: 0;
    border: none;
    background-color: #20aae5;
    color: white;
    border-radius: 5px;
    font-family: "Bellota-BoldItalic", sans-serif;
}

.message {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: white;
}

.message#blue {
    background-color: #3498db;
    border-color: #2980b9;
    float: right;
    margin-bottom: 5px;
}

.message#green {
    background-color: #2ecc71;
    border-color: #27ae60;
    float: left;
    margin-bottom: 5px;
}

.loaded_messages {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 10px;
}

.loaded_conversations {
    max-height: 216px;
    overflow: scroll;
}

.user_found_messages {
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
    background-color: #d3d3d3;
}

.user_found_messages img {
    height: 35p;
    float: left;
}

#grey {
    color: #8c8c8c;
}